<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="description" content="Autor: Marek Olšák" />

    <title>@ViewData["Title"] - ByteSyncer</title>

    <link rel="stylesheet" href="~/libs/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/libs/foundation/css/foundation.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ByteSyncer.IdentityProvider.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="container">
        <main>
            <svg width="200" height="67" xmlns="http://www.w3.org/2000/svg">
                <style type="text/css">
                    .main-text {
                        font-family: 'Times New Roman', sans-serif;
                        font-size: 30px;
                        fill: black;
                    }

                    .sub-text {
                        font-family: 'Times New Roman', sans-serif;
                        font-size: 24px;
                        font-style: italic;
                        fill: darkmagenta;
                    }
                </style>

                <text x="0" y="30" class="main-text">ByteSyncer</text>
                <text x="36" y="60" class="sub-text">Identity Provider</text>
            </svg>

            @RenderBody()
        </main>
    </div>

    <script src="~/libs/foundation/js/vendor/jquery.js"></script>
    <script src="~/libs/foundation/js/vendor/what-input.js"></script>
    <script src="~/libs/foundation/js/vendor/foundation.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
