<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Author: Marek Olšák" />
    <title>@ViewData["Title"] - ByteSyncer Identity Provider</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ByteSyncer.IdentityProvider.styles.css" asp-append-version="true" />
</head>

<body>
	<div class="h-screen flex">
		<div class="w-[30rem] m-auto p-[2rem] noshadow sm:shadow-lg rounded">
			<main>
				@RenderBody()
			</main>
		</div>
	</div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
