@page
@using ByteSyncer.Domain.Constants;
@model ByteSyncer.IdentityProvider.Pages.Authentication.ConsentModel
@{
	ViewBag.Title = "Consent";
}

<form method="post">
	<div class="row g-4">
        <div class="col-12 text-center">
            <h1 class="text-2xl font-semibold">Souhlas</h1>
            <p class="text-xl text-gray-500">Přístupy zahrnují náhled identity uživatele a jím vlastněné zdroje.</p>
        </div>
		<div class="col-12">
            <input id="input-grant-access" class="form-control btn btn-success btn-rounded btn-block" type="submit" name="grant" value="@AuthorizationDefaults.GrantAccessValue" aria-describedby="input-grant-access">
		</div>
        <div class="col-12">
            <input id="input-grant-deny" class="form-control btn btn-danger btn-rounded btn-block" type="submit" name="grant" value="@AuthorizationDefaults.DenyAccessValue" aria-describedby="input-grant-deny">
        </div>
	</div>
</form>
