@page
@model ByteSyncer.IdentityProvider.Pages.Authentication.LoginModel
@{
	ViewBag.Title = "Log in";
}

<form method="post">
    <div class="row g-4">
        <div class="col-12 text-center">
            <h1>Přihlášení</h1>
        </div>
        <div class="col-12">
            <div class=" form-outline">
                <input id="input-email" class="form-control @Model.GetValidationInputClass(nameof(Model.Form.Email))" type="email" asp-for="Form.Email" aria-describedby="input-email">
                <label for="input-email" class="form-label">Emailová adresa</label>
                @if (Model.HasValidationErrors(nameof(Model.Form.Email)))
                {
                    <div class="invalid-feedback">
                        @Model.GetFirstValidationErrorMessage(nameof(Model.Form.Email))
                    </div>
                }
            </div>
        </div>
        <div class="col-12">
            <div class=" form-outline">
                <input id="input-password" class="form-control @Model.GetValidationInputClass(nameof(Model.Form.Password))" type="password" asp-for="Form.Password" aria-describedby="input-password">
                <label for="input-password" class="form-label">Heslo</label>
                @if (Model.HasValidationErrors(nameof(Model.Form.Password)))
                {
                    <div class="invalid-feedback">
                        @Model.GetFirstValidationErrorMessage(nameof(Model.Form.Password))
                    </div>
                }
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary btn-rounded btn-block" type="submit">Přihlásit se</button>
        </div>
        <div class="col-12 text-center">
            <p class="text-secondary">Nemáte účet? <a asp-page="/Authentication/Register">Registrovat se</a></p>
            <p class="text-secondary">Pro úspěšné přihlášení je vyžadováno schválení založení účtu oprávněnou osobou, v případě potíží s přihlášením kontaktuje správce aplikace.</p>
        </div>
	</div>
</form>
