@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="text-3xl font-semibold">ByteSyncer</h1>
<h3 class="text-xl">Poskytovatel identity</h3>
<p class="mt-[1rem] hover:text-green-900 hover:font-semibold hover:underline hover:underline-offset-4 focus:text-green-900 focus:font-semibold focus:underline focus:underline-offset-4"><a href="/Authentication/Login">Přihlásit se</a></p>
<p class="mt-[1rem] hover:text-green-900 hover:font-semibold hover:underline hover:underline-offset-4 focus:text-green-900 focus:font-semibold focus:underline focus:underline-offset-4"><a href="/Authentication/Register">Registrovat se</a></p>
