@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row g-4 text-center">
    <div class="col-12">
        <h1>ByteSyncer</h1>
    </div>
    <div class="col-12">
        <p>Portál pro registraci nových uživatelů a přihlášení stávajících uživatelů.</p>
        <p>Přeji ti den plný úspěchů!</p>
    </div>
    <div class="col-12">
        <a class="btn btn-primary btn-rounded btn-block" asp-page="/Authentication/Login">Přihlásit se</a>
    </div>
    <div class="col-12">
        <a class="btn btn-secondary btn-rounded btn-block" asp-page="/Authentication/Register">Registrovat se</a>
    </div>
</div>
